body {
    background-color: #18181c;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    font-family: 'Righteous', cursive;
    color: #FF2A85;
    font-size: 52px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 28px;
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: left;
    padding-left: 20px;
}

/* Fontes e estilos personalizados para cada artista */
.yago {
    color: #00E5FF;
    text-decoration: line-through; /* Risco no meio */
}

.katseye {
    color: #FF007F;
    font-family: 'UnifrakturMaguntia', cursive; /* Estilo Fraktur */
    font-size: 34px;
}

.dinizz {
    color: #FFD700;
    font-family: 'Rubik Glitch', system-ui; /* Estilo arranhado/glitch */
    font-size: 32px;
}

/* Estrutura dos vídeos */
.lista-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    padding-left: 20px;
}

iframe {
    width: 320px;
    height: 200px;
    border-radius: 12px;
    border: none;
}